<div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<div class="row">
						<div class="col-sm-2">
							<img alt="Brand" class="center-block" src="logo-sistelred-nuevo-sm.jpg">
						</div>
						<div class="col-sm-10">
							<p class="text-center">Sistema de Gestión de Proyectos</p>
						</div>
					</div>
				</a>
			</div>

		</div>
	</nav>
</div>