.jumbo-color{
  /*background-color: #B0C4DE;*/
  /*gainsboro*/
   background-color: #535353;
}

.navbar {min-height:90px !important;}

.navbar-brand{
	width: 100%;
}
.width-80 { width: 100% !important; }

ul {
  list-style-type: none;
}

textarea.form-control.height-120 {
  height: 120px;
}

.height-120{
  height: 120px; 
}

.modal { overflow: auto !important; }

.tresponsive{
	overflow-x:auto;
}

.fsize-9{ font-size: 9px !important;}

p{
	word-wrap: break-word !important;
	white-space: normal !important;
}

.width-numero{
  width:80px; 
}

/*.col-numero{
  text-align: right,
}*/
